# WebLogic & Oracle

domain_data/
instaladores/

# OS and IDE files
.DS_Store
.vscode/
*.log
.env

# Ignorar contenido de la carpeta
domain_data/nuevo_dominio/*

# Asegurar que Git no ignore la estructura base
!domain_data/nuevo_dominio/
